.container {
    width: 80%;
    margin:0 auto;
    background: #fafafa;
}

ul {
    list-style-type: none;
    display: inline;

    li {
        display: inline; 
        a {
            text-decoration: none;
        }
    }
}
